#paradox-popup-logo {
    border-radius: 100%;
    width: 75%;
    height: 75%;
    background-color: #FFF;
    background-size: 65%;
    background-position: center;
    margin-top: 12.5%;
    margin-left: 12.5%;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
    cursor: default;
    line-height: normal;
}

#paradox-popup-logo-container {
    position: absolute;
    left: 0;
}

#paradox-popup-logo #paradox-popup {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: calc(50% + 4px);
    margin-left: -225px;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.2s linear;
    transition-delay: 0.3s;
    width: 450px;
    height: 350px;
}

#paradox-popup-logo #paradox-popup-content {
    overflow: hidden;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #f9f9f9;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 1px 0 1px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    box-sizing: border-box;
}

#paradox-popup-logo #paradox-popup-arrow {
    position: absolute;
    bottom: calc(0% + 4px);
    left: calc(50% - 12px);
    width: 14px;
    height: 14px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    transform: rotate(45deg);
    z-index: 101;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
}
#paradox-popup-logo #paradox-popup-top {
    position: absolute;
    bottom: calc(100% - 1px);
    left: calc(50%);
    transform: translate(-50%);
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #f9f9f9;
    z-index: 101;
    font-size: 15px;
    padding: 5px 10px 1px;
    border-radius: 10px 10px 0 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
#paradox-popup-logo:hover #paradox-popup {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.popup-container {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #eee;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 2.5px 4px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.popup-container-titles {
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    background-color: #efefef;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-container-img {
    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:4px;
    left:4px;
    border-radius: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.popup-container-text {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 28px);
    position: absolute;
    top:28px;
    left:0px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.popup-container-list {
    color: #000;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: normal;
}
.popup-li-small {
    font-size: 10px;
    color: #777;
}
.popup-li-big {
    font-size: 11px;
    color: #444;
}
.popup-container-list li {
    padding-left: 15px;
    position: relative;
    list-style: none;
}
.popup-container-list li div {
    position: absolute;
    left:0;
    top:1.5px;
    border-radius: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width:10px;
    height: 10px;
}

/* width */
.popup-container ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.popup-container ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.popup-container ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.popup-container ::-webkit-scrollbar-thumb:hover {
    background: #666;
}
#popup-container-noPolicy {
    font-size: 18px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 90%;
    left:5%;
}