body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
}

#container {
    width: 1000px;
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px #EEEEEE;
    margin: auto;
}

#banner {
    width: calc(100% - 40px);
    height: 60px;
    position: relative;
    padding: 10px 20px;
    box-shadow: 0px 1px 1px #EEEEEE;
}

#banner #logo {
    width: 60px;
    height: 60px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

#banner #text-container {
    display: inline-block;
    padding: 5px 10px;
}

#banner #title {
    font-size: 30px;
    line-height: 35px;
    vertical-align: top;
    display: inline-block;
}

#banner #version {
    line-height: 8px;
    font-size: 10px;
    color: #999;
    padding-left: 3px;
}
.topic-container {
    width: calc(100% - 40px);
    margin: 0 20px;
    display: block;
    background-color: #F9F9F9;
    vertical-align: top;
    position: relative;
    -webkit-column-break-inside: avoid;
    border-radius: 10px;
    overflow: hidden;
}
.topic-container:after {
    content: '';
    display: block;
    height: 20px;
}
.topic-container .tracker:last-child {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}


.topic-title {
    width: 100%;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    box-shadow: 0 1px 2px #BBB;
    overflow: hidden;
}
.tracker {
    width: calc(100% - 42px);
    vertical-align: 15px;
    font-size: 12px;
    position: relative;
    padding: 3px 10px 3px 30px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
.topic-container .tracker:last-child {
    border-bottom: 1px solid #DDD;
}
.result-icon {
    position: absolute;
    left:0;
    top:0;
    height: 23px;
    width:23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;

}
.warning {
    background-image: url("../img/warning.svg");
    background-color: #FB8C00;
}

.tick {
    background-image: url("../img/tick.svg");
    background-color: #43A047;
}
.email {
    background-image: url("../img/email.svg");
    background-color: #43A047;
}
#ads-icon {
    background-image: url("../img/ads.svg");
}

#session-icon {
    background-image: url("../img/session.svg");
}

#adblock-icon {
    background-image: url("../img/adblock.svg");
}

#location-icon {
    background-image: url("../img/location.svg");
}

#fingerprint-icon {
    background-image: url("../img/fingerprint.svg");
}
#no-policy {
    position: absolute;
    top: 29px;
    left: 0;
    width: calc(100% - 10px);
    height: calc(100% - 29px);
    background-color: #e53935;
    padding: 0 5px;
    color: #fff;
}
#no-policy span {
    position: absolute;
    top:50%;
    text-align: center;
    width: 100%;
    left:0;
    transform: translateY(-50%);
}


.separator {
    box-shadow: 0px 1px 1px #EEEEEE;
    column-count: 2;
    column-gap: 0;
    width: 100%;
    padding-top:50px;
    position: relative;
}
.title {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top:10px;
    left:50%;
    transform: translateX(-50%);
}
.report-title {
    right:50px;
    top:40%;
    transform: translateY(-50%);
    font-size: 16px;
    position: absolute;
    color: #777;
}
#report-date {
    right:50px;
    top:60%;
    transform: translateY(-50%);
    font-size: 10px;
    position: absolute;
    color: #999;
}
#email-creator {
    width: 880px;
    margin: 0 50px;
    padding: 10px;
    height: 250px;
    resize: none;
    box-shadow: 0px 1px 1px #f5f5f5;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}
#email-creator:focus {
    border: 1px solid #ccc;
}
#email-address {
    padding: 10px;
    box-shadow: 0px 1px 1px #f5f5f5;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    transition: .2s;
    margin: 0 50px 10px;
    font-family: monospace;
    width: 300px;
}
#email-address:focus {
     border: 1px solid #ccc;
 }

button {
    background-color: #efefef;
    color: #444;
    font-size: 13px;
    width: 200px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0 15px 50px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    outline: none;
}
button:hover {
    background-color: #e5e5e5;
}