body {
    width: 250px;
    height: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#banner {
    width: 250px;
    display: block;
    background-image: url("../img/banner.svg");
    background-size: auto;
    background-repeat: no-repeat;
    height: 45.872px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

#container {
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 50px);
}

.result-icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-left:4px;
    margin-top:4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    border-radius: 100%;
    position: relative;
}

#ads-icon {
    background-image: url("../img/ads.svg");
}

#session-icon {
    background-image: url("../img/session.svg");
}

#adblock-icon {
    background-image: url("../img/adblock.svg");
}

#location-icon {
    background-image: url("../img/location.svg");
}

#fingerprint-icon {
    background-image: url("../img/fingerprint.svg");
}

.topic-container {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 5px;
}

.tracker {
    background-color: #fff;
    width: 100%;
    height: 30px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #eee;
}

.items {
    width: calc(100% - 12px);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #eee;
    position: relative;
}
.items#track {
    height: calc(32px * 5);
}
.items#policy {
    height: calc(32px * 4);
}

.result-text {
    position: absolute;
    top:50%;
    left:30px;
    padding:2.5px 5px;
    width: calc(100% - 40px);
    line-height: 12px;
    font-size: 12px;
    transform: translateY(-50%);
}
.topic-title {
    font-size: 12px;
    text-align: center;
    background-color: #efefef;
    color: #333;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.warning {
    background-image: url("../img/warning.svg");
    background-color: #FB8C00;
}
.tick {
    background-image: url("../img/tick.svg");
    background-color: #43A047;
}
#buttons {
    width: 100%;
    margin: 7.5px 0 10px;
    position: relative;
}
#buttons button {
    background-color: #efefef;
    color: #444;
    font-size: 11px;
    width: calc(50% - 5px);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    position: absolute;
    top:0;
    padding: 5px;
    margin-bottom: 7.5px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}
#buttons #full-report {
    left:1px;
}

#buttons #report-violation {
    right:1px;
}
#buttons .with-icon {
    padding: 5px 10px 5px 0px;
}
#buttons button:hover {
    background-color: #e5e5e5;
}
#no-policy {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #e53935;
}
#no-policy span {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 10px;
    text-align: center;
    color: #fff;
}
#violation-count {
    width: 16px;
    height: 16px;
    position: absolute;
    top:3px;
    right:3px;
    background-color: #e53935;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    visibility: hidden;
}